:root {
  --color-black-light: #303030;
  --color-primary: #8236ff;
  --color-white: #ffffff;
  --border-small: 4px;
  --padding-small: 8px;
  --padding-medium: 10px;
  --padding-big: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  line-height: 1.2;
}

header {
  background: var(--color-black-light);
}

h1 {
  text-align: center;
  color: white;
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-block: 16px;
}

h2 {
  letter-spacing: 0.025em;
}

strong {
  color: var(--color-primary);
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: var(--padding-big);
  width: min(1000px, 100%);
  margin: 0 auto;
}

article {
  flex: 1 200px;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: var(--padding-medium);
  background-color: var(--color-primary);
  border-radius: var(--border-small);
}

figcaption {
  color: var(--color-white);
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

a {
  display: inline-block;
  font-size: smaller;
  padding: var(--padding-small);
  border-radius: var(--border-small);
  background-color: var(--color-primary);
  color: var(--color-white);
}

a:hover,
a:focus-visible {
  background-color: var(--color-black-light);
  text-decoration: none;
}

mark {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-small);
  letter-spacing: 0.025em;
}

::selection {
  background-color: var(--color-black-light);
  color: var(--color-primary);
}
